.row{
  position: relative;
  top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

.jumbotron#front{
  position: relative;
  top: -10px;
  text-align: center;
  background-color: transparent;
}

.homepage-hero-module {
    z-index: -1;
    border-right: none;
    border-left: none;
    position: relative;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 40%;
    width: 100%;
    overflow: hidden;
    background: #000;
    object-fit: cover;
}

.video-container .title-container {
    z-index: 1000;
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    color: #fff;
}
.text-white{
   color: #fff !important;
   background-color: rgba(100,100,100,0.5);
   display: inline-block;
   padding: 5px;
}

.text-thin{
   font-weight: 100;
} 

.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
/*.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}*/
/*.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}*/
.video-container video.fillWidth {
    width: 100%;
}

/*.image { 
  position: relative; 
  width: 100%; 
}*/

/*h2 span { 
  color: white; 
  font: bold 24px/45px Helvetica, Sans-Serif; 
  letter-spacing: -1px;  
  background: rgb(0, 0, 0);
  background: rgba(100,100,100,0.5);
  padding: 10px; 
}
*/

/*.jumbotron h1 {
  color: #3498db ;
  text-align: center;
}
.jumbotron p {
  color: #7f8c8d ;
  text-align: center;
}


.jumbotron h3 {
    color: #7f8c8d ;
    text-align: center;
}
.login{
    color: #7f8c8d ;
    text-align: center;
}
#current_user{
    color: #7f8c8d ;
    text-align: center;
}
#title_testing{
    z-index: 1;
    position: absolute;
    left: 50%;
}
*/
