<form method="POST" action="/users/login">
  <input type="hidden" name="user" value="scott">
  <button>Sign in as Scott</button>
</form>
<form method="POST" action="/users/login">
  <input type="hidden" name="user" value="jules">
  <button>Sign in as Julia</button>
</form><form method="POST" action="/users/login">
  <input type="hidden" name="user" value="paul">
  <button>Sign in as Paul</button>
</form>