  <div class="container">

    <div class="row heading goal-heading">
      <h1>Goals</h1>
    </div> <!-- goal-heading-->

    <div class="row" id="past-goals">
      <div id="past-goals-box">
        <p>Last week:</p>
        <p id="past-goals-content">Julia showed up to class on time and won 3 beers from Paul!</p>
      </div> <!-- #past-goals-box -->
    </div> <!-- #past-goals -->

    
    <div class="goal-grid main-page-grid">
      <div class="row">

        <% Goal.all.each do |goal| %>
          <div class="col-md-4">
            <div class="panel panel-default goal">
              <div class="panel-body">
                <img class="circular-img" src="/img/me.jpg">
                <h3><%= goal.title %></h3>
                <h4>By: <%= goal.deadline %></h4>
                <h3>Stakes: <%= goal.stake_qty.to_s + " " + goal.stake_item %></h3>
                <button class="btn btn-success btn-lg disabled">Take Bet!</button>
                
                <div class="dropdown">
                  <a class="dropdown-toggle" id="dropdown-menu-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    See who took bet
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdown-menu-1">
                    <li><a href="#">Osama Khan</a></li>
                    <li><a href="#">Filip Juristovski</a></li>
                    <li><a href="#">Julia Wei</a></li>
                  </ul>
                </div> <!-- dropdown -->
              </div> <!-- panel-body -->
            </div> <!-- panel -->
          </div> <!-- col-md-4 -->
        <% end %>
        </div> <!-- row -->

        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default goal">
              <div class="panel-body">
                <img class="circular-img" src="/img/me.jpg">
                <form id="custom-goal">
                  <h3><%= session[:user].name.split(" ")[0] %> wants to </h3><input id="input-title" name="title" value="Choose a goal!">
                  <h4>By: </h4><input id="input-deadline" name="deadline" value="Deadline">
                  <h3>Stakes: </h3><input id="quantity" type="number" value="1"><input id="item" name="stakes" value="Item">
                  <button class="btn btn-success btn-lg disabled">Save goal.</button>
                </form>
              </div> <!-- panel-body -->
            </div> <!-- panel -->
          </div> <!-- col-md-4 -->
      </div> <!-- row -->
    </div> <!-- goal-grid -->
  </div> <!-- container -->
