<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="../../public/stylesheets/jquery-1.12.2.min.js"></script>
    <script src="../../public/javascript/bootstrap.min.js"></script>
    <script src="/javascript/application.js"></script>

    <link rel="stylesheet" href="../../public/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/stylesheets/user-page.css">
    <link rel="stylesheet" href="../../public/stylesheets/home_page.css">

  </head>

  <body>




  </body>
