<div class="homepage-hero-module">
    <div class="video-container">
        
        <div class="title-container">
           
            <h3>Motivation</h3>
            <h3 class="text-white text-thin">Bet & Win in Life</h3>
        </div>

        <div class="filter"></div>
            <video autoplay loop class="fillWidth">
                <source src="/video1/MP4/meeting.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                <source src="/video1/WEBM/meeting.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
            </video>
        
        <div class="poster hidden">
            <img src="/video1/Snapshots/meeting.jpg" alt="">
        </div>
    </div>
</div>

<div class="row">
        <div class="col-lg-4">
          <h2><i class="fa fa-gift"></i>  Win Stuff </h2>
          <div class= "description_words">
            <p>See in real time when a bet is won and claim your winnings! </p>
          </div>
<!--           <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p> -->
       </div>
        <div class="col-lg-4">
          <h2><i class="fa fa-thumbs-o-up"></i>  Bet against your friends</h2>
          <div class= "description_words">
            <p>Your number one source to place and win bets against your friends. Used for acheiving any goal, life changes and any milestone. </p>
          </div>
<!--           <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p> -->
        </div>
        <div class="col-lg-4">
          <h2><i class="fa fa-trophy"></i>  Win in life</h2>
          <div class= "description_words">
          <p>Turning goals into bets. Win in life, be in the hot seat!</p>
      <!--     <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p> -->
        </div>
      </div>
</div>

<div id= "front" class= "jumbotron" >
    <p><a class="btn btn-lg btn-success" href="/goals" role="button">View Current Bets</a></p>
</div>

<div id="container_quote">
  <h3>Believe you can and you're halfway there  -Theodore Roosevelt</h3>
    <div id="quoteContainer">
      <p></p>
      <p id="quoteGenius"></p>      
    </div><!--end quoteContainer-->
    
    <div id="buttonContainer">
      <a href="#" id="quoteButton">Inspire Me</a>
  </div><!--end buttonContainer-->

</div><!--end container-->


