<!DOCTYPE html>
<html lang="en">
<head>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
  <script src="/javascript/application.js"></script>


  <link rel="stylesheet" href="../../public/stylesheets/bootstrap-theme.min.css">
  <link rel="stylesheet" href="../../public/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="../../public/stylesheets/user-page.css">

</head>
<body>
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Motivation</a>
        </div>
        <div class="navbar-right">
          <img src="../../public/img/me.jpg">
          <a href="#">Scott Domes</a>
        </div>
      </div>
    </nav>

  </header>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src='../../public/img/me.jpg'>
      </div>
      <div class="col-md-8">
        <h1>Scott Domes</h1>
        <h3>Joined: October 2015</h3>
        <h3>Bets won: 12</h3>
        <h3>Goals achieved: 1</h3>
      </div>
    </div>
  </div> <!-- container -->
</body>